/*main look*/

body {
  max-height: 100%;
  text-align: center;
}

.mainMenu {
  font-size: 2em;
}

.primaryUl {
  min-height:20em;
  max-height:100%;
  overflow:hidden;
  overflow-y:scroll;
}

.secondaryUl {
  height:4em;
  overflow:hidden;
  overflow-y:scroll;
}


/*style and animate CSS*/

input:focus, input {
  /*outline: none !important;*/
  /*outline-style: none !important;*/
  /*box-shadow: none !important;*/
  border-color: transparent !important;
  /*border: solid 2px transparent !important;*/
}

input {
  border-bottom: solid 1px grey !important;
}

@keyframes cursor {
    from {background-color: black;}
    to {background-color: white;}
    from {background-color: white;}
    to {background-color: black;}
}

.hover:hover {
  background-color: black;
  color: white;
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button:hover {
  background-color: black;
  color: white;
}

.selected {
  background-color: black;
  color: white;
}

/* materialize styling */

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=number]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=number].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  /*.input-field input[type=number].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }*/
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

  .switch label input[type=checkbox]:checked+.lever {
    background-color: grey;
  }

  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: black;
  }

/* */
