/*main look*/

body {
  background-color: black;
  color: #29DE0F;
}

code {
  background-color: black;
  border: 1px solid black;

}

.fixtures, .shielding, .led, .output {
  border-left: 1px solid #29DE0F;
  padding: 15px;
}

article > p:first-child, div > p:first-child {
  border-bottom: 1px solid #29DE0F;
  padding-bottom: 10px;
}

.color {
  padding-top: 15px;
}

button {
  background-color: black;
  color: #29DE0F;
  border-color: #29DE0F;
}

/*style and animate CSS*/

@keyframes cursor {
    from {background-color: #29DE0F;}
    to {background-color: black;}
    from {background-color: black;}
    to {background-color: #29DE0F;}
}

.hover:hover {
  background-color: #29DE0F;
  color: black;
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button:hover {
  background-color: #29DE0F;
  color: black;
}

.selected {
  background-color: #29DE0F;
  color: black;
}
