/*main look*/

body {
  max-height: 100%;
  /*text-align: center;*/
}

.mainMenu {
  font-size: 2.5em;
}

.primaryUl {
  min-height:20em;
  max-height:50em;
  overflow:hidden;
  overflow-y:scroll;
}

.secondaryUl {
  height:4.5em;
  overflow:hidden;
  overflow-y:scroll;
}

.header {
  font-size: 2em;
  font-weight: bold;
  border-top: solid 2px #0277bd;
  border-right: solid 5px #0277bd;
  border-top-right-radius: .5em;
}

.subHeader {
  font-size: 1.5em;
  padding: -30px;
}

.secondaryUl {
  text-align: center;
  width: 10em;
  /*background-color: #64b5f6;*/
  /*color: white;*/
  padding-left: 20em;
  border-radius: .5em;
  margin-bottom: 1em;
  border-bottom: solid 2px #0277bd;
  border-left: solid 5px #0277bd;
  border-bottom-left-radius: .5em;
}

/*style and animate CSS*/

.marketMain, .repMain, .mfgMain {
  /*background-color: #0277bd;*/
  color: #0277bd;
  border: solid 2px #0277bd;
  border-radius: .5em;
}

nav {
  border-radius: .5em;
}

@keyframes cursor {
    from {background-color: #0277bd;}
    to {background-color: white;}
    from {background-color: white;}
    to {background-color: #0277bd;}
}

.marketMain:hover, .repMain:hover, .mfgMain:hover {
  background-color: #0277bd;
  color: white;
  border-color: white;
}

.selected {
  background-color: #0277bd;
  color: white;
  border-color: white;
}

.primaryUl {
  color: #0277bd;
  font-size: 2em;
}

/* materialize styling */

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=number]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=number].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  /*.input-field input[type=number].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }*/
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

  .switch label input[type=checkbox]:checked+.lever {
    background-color: grey;
  }

  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: black;
  }

/* */
